#buttons>button{
   /* color: white;  */
   /* background-color: #a659d5; */
   border: 1px solid rgb(0, 0, 0);
   border-radius: 10px;
   padding: 8px 20px;
   margin: 4px;
}
#input-form{
   display: grid;
   gap: 10px;
   border : 1px solid black;
   border-radius: 20px;
   padding: 20px;
}
.fields{
   display: flex;
   flex-direction: column;
   gap: 5px;
}
label{
   font-size: 18px;
   font-weight: bold;
}
input[type='text'], textarea, input[type='date']{
   width: 75%;
   padding: 10px;
   border: 2px solid #a659d5;
   border-radius: 10px;
   box-shadow: 1px 2px 3px #a659d5;

}
table{
   width: 100%;
   font-size: 14px;
}
thead th{
   font-weight: bold;
  font-size: 12px;
  border: 1px solid black;
}
tbody td{
  font-weight: bold;
  font-size: 12px;
  border: 1px solid black;
}
.red{
   background-color: rgba(255, 0, 0, 0.459);
}
